.sub-title {
    width: 50%;
    color: dimgrey;
    font-weight: 600;
}

.main-header {
    color: darkblue;
}

.sub-header {
    text-decoration: underline;
}

.content {
    font-size: 20px;
}

.left-side-bar {
    width: 5%;
    background-color: grey;
}

.gong-table {
    border-collapse: collapse;
    border-color: transparent;
}

.link-container {
    text-align: center;
}

.link-container .link {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}